{% load static %}
<!DOCTYPE html>
<html>

<head>
<!-- 	<script>
	window.onload = function() {  // reload file every second
		setInterval(function() { location.reload(); } , 1000);
	};</script> -->

	<title></title>
	<link rel="stylesheet" href="{% static 'news/main.css' %}"></link>




</head>

<body>
<fieldset>
	<div class="header" id="myHeader">
		<form action="/search/" method="GET">
			<input name="q" values="{{ request.GET.q }}" type="text", placeholder="Search Article Keywords">
			<input type="submit" name="Search" value="Search">
		</form>

	</div>
</fieldset>


	<div class="container">
		<div class="search-results">
			{% for article in articles %}
			<article>
				<div class="article-title"><a href="{{ article.href }}" target="_blank">{{ article.title }}</a></div>
				<div class="article-date">{{ article.date_scraped }}, {{ article.publisher}}</div>
				<div class="article-intro">{{ article.introduction }}</div>
			</article>
			{% endfor %}
		</article>
	</div>



	<div class="search-features">
		<ul>
			<li>one</li>
			<li>two</li>
			<li>three</li>
			<li>one</li>
			<li>two</li>
			<li>three</li>
			<li>one</li>
			<li>two</li>
			<li>three</li>
			<li>one</li>
			<li>two</li>
			<li>three</li>
			<li>one</li>
			<li>two</li>
			<li>three</li>
		</ul>
	</div>




	<script>
		window.onscroll = function() {myFunction()};

		var header = document.getElementById("myHeader");
		var sticky = header.offsetTop;

		function myFunction() {
			if (window.pageYOffset > sticky) {
				header.classList.add("sticky");
			} else {
				header.classList.remove("sticky");
			}
		}
	</script>

</body>
</html>
